@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Oswald", "sans-serif";
}

.dark-bg {
  background-color: #000;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.flex-20 {
  flex: 0 0 15%;
}

h1 {
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem /* 40px */;
}

h2 {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
}

header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
